.board {
  display: grid;
  gap: 5em;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 100px;
  grid-auto-flow: row dense;
  justify-content: center;
  padding: 3rem 15rem;
}

.tile {
  border: 5px solid #40ff75;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-weight: bold;
  height: 8rem;
  width: 18rem;
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.start {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  height: 8rem;
}

.goal {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  height: 8rem;
}

.board > *:nth-child(8n + 5) {
  grid-column: 4;
}
.board > *:nth-child(8n + 6) {
  grid-column: 3;
}
.board > *:nth-child(8n + 7) {
  grid-column: 2;
}
.board > *:nth-child(8n + 8) {
  grid-column: 1;
}

.board > *:nth-child(1)::after {
  content: url("../img/right-arrow.png");
  position: absolute;
  right: 0;
  transform: translateX(3rem);
}
.board > *:nth-child(2)::after {
  content: url("../img/right-arrow.png");
  position: absolute;
  right: 0;
  transform: translateX(3rem);
}
.board > *:nth-child(3)::after {
  content: url("../img/right-arrow.png");
  position: absolute;
  right: 0;
  transform: translateX(3rem);
}
.board > *:nth-child(4)::after {
  content: url("../img/down-arrow.png");
  position: absolute;
  bottom: 0;
  transform: translateY(2.5rem);
}
.board > *:nth-child(5)::before {
  content: url("../img/left-arrow.png");
  position: absolute;
  left: 0;
  transform: translateX(-3rem);
}
.board > *:nth-child(6)::before {
  content: url("../img/left-arrow.png");
  position: absolute;
  left: 0;
  transform: translateX(-3rem);
}
.board > *:nth-child(7)::before {
  content: url("../img/left-arrow.png");
  position: absolute;
  left: 0;
  transform: translateX(-3rem);
}
.board > *:nth-child(8)::after {
  content: url("../img/down-arrow.png");
  position: absolute;
  bottom: 0;
  transform: translateY(2.5rem);
}
.board > *:nth-child(9)::after {
  content: url("../img/right-arrow.png");
  position: absolute;
  right: 0;
  transform: translateX(3rem);
}
.board > *:nth-child(10)::after {
  content: url("../img/right-arrow.png");
  position: absolute;
  right: 0;
  transform: translateX(3rem);
}

.board > *:nth-child(11)::after {
  content: url("../img/right-arrow.png");
  position: absolute;
  right: 0;
  transform: translateX(3rem);
}
.piece1 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: red;
  margin: 0 30px;
}
.piece2 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: blue;
  margin: 0 30px;
}
.piece3 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: yellow;
  margin: 0 30px;
}
.piece4 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: purple;
  margin: 0 30px;
}
.piece5 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: green;
  margin: 0 30px;
}
.inactive {
  filter: brightness(70%);
}
.sleep::after {
  content: url(/img/zzzx.png);
  position: absolute;
  transform: translate(15px, -35px);
}

.flex {
  display: flex;
  justify-content: center;
}

.score {
  display: flex;
  border: 5px solid #40ff75;
  border-radius: 10px;
  background-color: #fff;
  margin: 2rem 5rem;
  width: 300px;
  height: 250px;
  padding: 0.5em 1em;
  position: absolute;
  left: 50px;
  text-align: center;
}

.score ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  margin: 0;
  padding: 0;
}

.score li {
  display: flex;
  margin: 0 20px;
}

.score li::before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: relative;
  top: 8px;
}
.score .active::before {
  position: relative;
  top: 15px;
}

.score li:nth-child(1):before {
  background-color: red;
}

.score li:nth-child(2):before {
  background-color: blue;
}

.score li:nth-child(3):before {
  background-color: yellow;
}

.score li:nth-child(4):before {
  background-color: purple;
}

.score .name {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 30px;
}

.score .active .name {
  font-size: 2rem;
}

.score .ato {
  padding-left: 2em;
  font-size: 8px;
}

.score .number {
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin: 0 5px;
}
.score .active .number {
  font-size: 3rem;
}
.score .left {
  display: flex;
  margin-left: auto;
}

.turn {
  margin-top: 50px;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.buttons {
  display: flex;
  gap: 3em;
  align-items: flex-end;
  position: absolute;
  right: 5rem;
  margin: 2rem 5rem;
}
.buttons > * {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  border: 5px solid red;
  cursor: pointer;
}

.buttons .item {
  height: 150px;
  width: 150px;
  background: transparent;
  border: 2px solid transparent;
  cursor: pointer;
}

.buttons .dice {
  height: 250px;
  width: 250px;
  background: transparent;
  border: 2px solid transparent;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

.item-hidden {
  display: none;
}

#item-mask {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#item-modal {
  background: #fff;
  width: 50%;
  height: 50%;
  padding: 24px;
  border-radius: 4px;
  color: red;
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  text-align: center;
  margin: 0 auto;
  z-index: 2;
  overflow: scroll;
  border: 8px solid red;
}
#item-modal img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin: 50px;
}

#item-modal p {
  text-align: center;
}
#item-modal ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#item-modal li {
  list-style: none;
}

.dice-hidden {
  display: none;
}

#dice-mask {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

/* サイコロ用 */
/* #dice-modal {
    background: #fff;
    width: 50%;
    height: 50%;
    padding: 24px;
    border-radius: 4px;
    color: red;
    position: fixed;
    top: 10%;
    left: 10%;
    right: 10%;
    text-align: center;
    margin: 0 auto;
    z-index: 2;
    overflow: scroll;
    border: 8px solid red;
  } 
  #dice-modal img {
    width: 150px;
    margin: 50px;
    height: 150px;
    object-fit: contain;
  }
  #dice-modal p {
    text-align: center;
  }
  #dice-modal ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #dice-modal li {
    list-style: none;
  }
  */

#dice-modal {
  background: #fff;
  width: 50%;
  height: 50%;
  padding: 24px;
  border-radius: 30px;
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  margin: 0 auto;
  z-index: 2;
  border: 8px solid green;

}
#dice-modal p{
  display:flex;
  flex-flow: column;
}

#dice-modal p .masu_name {
  font-size: 30px;
  margin: 10px 0 50px 10px;
}
#dice-modal p .reason {
  font-size: 60px;
  text-align: center;
    margin: 10px 0 50px 10px;

}
#dice-modal p .masu_action {
  font-size: 80px;
  font-weight: 800;
  text-align: center;
}
