body {
    background-color: orange;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 5em;
    display:flex;
    gap: 2em;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
}

.buttons {
    display: flex;
}

.players {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

.players input {
    padding: 0.4em 1em;
    border-radius: 5px;
    border: none;
}


button {
    display: flex;
    border: none;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.start {
    background-color: rgb(36, 151, 245);
    padding: 1em 3em;
    width: 100%;
    border-radius: 8px;
}